$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../icomoon/fonts" !default;

$icm-instagram: "\e900";
$icm-left-arrow-min: "\e901";
$icm-magnifying-glass: "\e902";
$icm-phone-call: "\e903";
$icm-telegram: "\e904";
$icm-acrobat: "\e905";
$icm-correct-symbol: "\e906";
$icm-envelope: "\e907";
$icm-facebook-logo: "\e908";

