$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../icomoon/fonts" !default;

$icm-logout: "\e909";
$icm-man-user: "\e90a";
$icm-pencil: "\e90b";
$icm-play-button: "\e90c";
$icm-view-eye-interface-symbol: "\e90d";
$icm-add-button-inside-black-circle: "\e90e";
$icm-clipboard: "\e90f";
$icm-correct-symbol: "\e910";
$icm-file-in-folder: "\e911";
$icm-info: "\e912";
$icm-instagram: "\e900";
$icm-left-arrow-min: "\e901";
$icm-magnifying-glass: "\e902";
$icm-phone-call: "\e903";
$icm-telegram: "\e904";
$icm-acrobat: "\e905";
$icm-correct-symbol1: "\e906";
$icm-envelope: "\e907";
$icm-facebook-logo: "\e908";

